{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,200" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'website/css/swiper-bundle.min.css' %}">


    <!-- RemixIcon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    

    <!-- Title -->
    <title>Himalayan Tribe</title>


    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'website/images/himalayanTribeLogo1.png' %}" type="image/x-icon">

    <!-- Css -->
    <link rel="stylesheet" href="{% static 'website/css/cabRental.css' %}">

</head>
<body id="bodyTag">
    <!-- header -->
    <header class="header">
        <nav class="headerNav">
            <figure class="logo">
                <img src="{% static 'website/images/himalayanTribeLogo1.png' %}" alt="" id="logoImg">
                <a href="tel:+917559700666" class="headerCall"><i class="ri-phone-line"></i> +91-7559700666
                </a>
            </figure>
            <ul class="headerUl upperCase">
                <li class="innerLogo">
                    <figure class="logo">
                        <img src="{% static 'website/images/himalayanTribeLogo1.png' %}" alt="" id="innerLogoImg">
                    </figure>
                    <button id="hamburgerCloseBtn">
                        <i class="ri-close-line"></i>
                    </button>
                </li>
                <li class="headerList">
                    <a href="#" class="navListAnchor">
                        <i class="ri-home-2-line"></i> home
                    </a>
                </li>
                <li class="headerList">
                    <a href="#rentCab" class="navListAnchor">
                        <i class="ri-taxi-line"></i>Cabs
                    </a>
                </li>
                <li class="headerList">
                    <a href="#query" class="navListAnchor">
                        <i class="ri-chat-3-line"></i>
                        contact us
                    </a>
                </li>
                <li class="innerLogo">
                    <img src="{% static 'website/images/shapes/castle1.png' %}" alt="" class="innerLogoShape">
                </li>
            </ul>
            <div class="hamburger">
                <button id="hamburgerOpenBtn">
                    <i class="ri-menu-4-fill"></i>
                </button>
                <div id="popUp" ></div>
            </div>
        </nav>
        <div class="headerContent">
            <div id="popularHeaderMotto" class="headerMotto upperCase">
                BOOK YOUR JOURNEY <span >CABS WITH</span> <br> HIMALYAN TRIBE
            </div>
        </div>
    </header>
        
    <!-- Rent a cab -->
    <section id="rentCab">
        <h1 id="galleryHeader" class="sectionHeading capitalize">
            <i class="ri-taxi-line"></i>&nbsp;Rent A Cab
        </h1>
        <p class="cab-rent-para upperCase">
            hire our expert and friendly drivers for your hassel free journey
        </p>


        <!-- Slider -->
        <!-- SEDEN CABS -->
        {% for cat,cabs in cats.items %}
            <div id="sedenCabsSlider" class="slide-container swiper">
                <div class="slide-content">
                    <h3 class="upperCase cabs-slider-heading">{{ cat }}</h3>
                    <div id="sedenCabsSliderCardContainer" class="card-wrapper swiper-wrapper">
                        <!-- Cards -->
                        {% for cab in cabs %}
                            <div class="card swiper-slide">
                                <!-- div to handle the image -->
                                <a href="#query">
                                    <div class="image-content popular-image-content round-corner">
                                        <div class="card-image popular-card-image">
                                            <img src="{{ cab.img.url }}" alt="" class="card-img">
                                        </div>
                                        <div class="cab-glassmorp-card">
                                            <h3 class="upperCase glassmorp-heading">{{ cab.title }}
                                            </h3>
                                            <ul class="cab-facility">
                                                <li class="price-per-day upperCase">{{ cab.price }}/day</li>
                                                <li class="cab-inner-facility">
                                                    <div>{{ cab.seats }} seats</div>
                                                    {% if cab.ac %}
                                                        <div>AC</div>
                                                    {% endif %}
                                                    <div>{{ cab.fuel }}</div>
                                                </li>
                                            </ul>
                                            <button class="moreinfo cab-btn-margin" type="submit">Book Now</button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                           
                    </div>
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div> 
            </div>
            <hr>
        {% endfor %}

    </section>


    <!-- Query Section -->
    <section id="query">
        <h1 id="galleryHeader" class="sectionHeading capitalize">
            <i class="ri-chat-3-line"></i>&nbsp;contact us
        </h1>
        <form method=POST action="{% url 'home' %}" class="query-form"  id="query-form-section">
            <!-- {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}"> -->
            <input type="text" name="name" id="name" placeholder="Your Name" required>
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="tel" name="telephone" id="telephone" placeholder="Phone Number" required>

            <div class="query-form-div">
                <span>
                    <label for="start-date">Start-Date:</label>
                    <input type="date" name="start-date" id="start-date" placeholder="Start-Date">
                </span>
                <span>
                    <label for="end-date">End-Date:</label>
                    <input type="date" name="end-date" id="end-date" placeholder="End-Date">
                </span>
                
            </div>

            <div class="pick-drop-location">
                <input type="text" name="pick-up-point" id="pick-up-point" placeholder="Pick Up Point" >
                <input type="text" name="drop-up-point" id="drop-point" placeholder="Drop Point" >
            </div>




            <div class="pick-drop-location">
                <input type="number" name="number-of-person" id="number-of-person" placeholder="Number of People" >
                <input type="text" name="travel-destination" id="travel-destination" placeholder="Travel Destination">
            </div>

            

            <!-- Vehicle Type -->
            <div class="query-form-div">
                <label for="vehicle-type" class="capitalize">vehicle type : </label>
                <select id="vehicle-type" name="vehicle-type">
                    <!-- <option hidden disabled selected value> -- select an option -- </option> -->
                    <option hidden disabled selected value=""></option>
                    <option value="etios">etios</option>
                    <option value="swift dezire">swift dezire</option>
                    <option value="innova">innova</option>
                    <option value="innova crytsa">innova crytsa</option>
                    <option value="alto 800">alto 800</option>
                    <option value="ertiga">ertiga</option>
                    <option value="marazzo">marazzo</option>
                    <option value="xylo">xylo</option>
                    <option value="creta">creta</option>
                    <option value="fortuner">fortuner</option>
                    <option value="force traveller">force traveller</option>
                    <option value="verna">verna</option>
                </select>
            </div>

            <!-- Bike rental -->
            <div class="query-form-div">
                <label for="bike-type" class="capitalize">Bike Rental : </label>
                <select id="bike-type" name="bike-type">
                    <option hidden disabled selected value=""></option>
                    <option value="classic 300">classic 300</option>
                    <option value="RE 500">RE 500</option>
                    <option value="re Himalayan">re Himalayan</option>
                    <option value="Xpulse">Xpulse</option>
                </select>
            </div>
            
            <!-- Self Drive Vehicle -->
            <div class="query-form-div">
                <label for="self-drive-type" class="capitalize">self drive : </label>
                <select id="self-drive-type" name="self-drive-type">
                    <option hidden disabled selected value=""></option>
                    <option value="Maruti gypsy">Maruti gypsy</option>
                </select>
            </div>
            
            <div class="query-btn-container">
                <button class="query-btn whatsappBtn" type="submit">Whatsapp</button>
                <button class="query-btn" formaction="{% url 'mail' %}" target = "_blank">Email</button>
            </div>
        </form>
    </section>

    <hr>

        <!--WHY RIDE WITH HIMALAYAN TRIBE -->
    <section id="why-us">
        <h1 id="galleryHeader" class="sectionHeading capitalize">
            Why ride with himalayan tribe
        </h1>
        <div class="services-container">
            <div class="service-card">
                <h3 class="capitalize services-heading">
                    <i class="ri-taxi-line"></i>&nbsp; expert local drivers
                </h3>
                <p class="service-card-para">
                    We provide Expert local drivers on the tour with great
                    communication skiils. The driver act as supporting
                    you throught the tour.
                </p>
            </div>
            <div class="service-card">
                <h3 class="capitalize services-heading">
                    <i class="ri-eye-off-line"></i>&nbsp; no hidden charges
                </h3>
                <p class="service-card-para">
                    No hidden charges are there in your tour. We provide
                    Reasonable and best prices in the market with transparent
                    billing.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <span class="material-symbols-outlined">
                        payments
                    </span>&nbsp;10% booking discount
                </h3>
                <p class="service-card-para">
                    Nor 50% Neither 30% . Only 10% is the booking amount
                    required to book your cab for a memorable holiday.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <i class="ri-message-line"></i>&nbsp;instant booking process
                </h3>
                <p class="service-card-para">
                    Once you fill the travel query form, our expert tour operator will get back you with best and reasonable rates for your cab booking.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <i class="ri-shield-check-line"></i>&nbsp;fully sanitised vehicle
                </h3>
                <p class="service-card-para">
                    We provide you with fully sanitised, neat and clean car for your journey.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <i class="ri-tools-line"></i>&nbsp;mechanic ensured cab
                </h3>
                <p class="service-card-para">
                    All the cabs provided to you during the tour is fully surveyed and ensured by our mechanic.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <i class="ri-phone-line"></i>&nbsp;24<i class="ri-close-line"></i>7 expert support
                </h3>
                <p class="service-card-para">
                    Our expert travel consultant provides you with best suitable cab for your tour, with keeping in mind of the terrians and destinations you"ve choosen for your vacation with 24x7 support throughout the tour.
                </p>
            </div>
            <div class="service-card">
                <h3 class="services-heading capitalize">
                    <i class="ri-calendar-check-line"></i>&nbsp;cancellation policy
                </h3>
                <p class="service-card-para">
                    With only 10% of booking amount, We provide wide range of cancellation policy for you helping you to save your hardearned money.
                </p>
            </div>
            <!-- <div class="service-card">
                <h3 class="services-heading capitalize">

                </h3>
                <p class="service-card-para">

                </p>
            </div> -->
        </div>
    </section>

   

    <!-- Footer -->
    <footer id="contactUs">
        <h1 class="sectionHeading capitalize">      
           || अतिथिदेवो भव: ||
        </h1>

        <div class="footer-upper">
            <div class="footer-contact">
                <h2 class="contact-text">
                    Feel free to contact and reach us !!
                </h2>
        
                <ul class="contact-ul">
                    <li class="contact-item">
                        <ul class="handler-ul">
                            <li class="handler-list">
                                <a href="" class="handler-anchor capitalize">
                                    <i class="ri-whatsapp-line"></i>
                                </a>
                            </li>
                            <li class="handler-list">
                                <a href="" class="handler-anchor capitalize">
                                    <i class="ri-instagram-line"></i>
                                </a>
                            </li>
                            <li class="handler-list">
                                <a href="" class="handler-anchor capitalize">
                                    <i class="ri-mail-line"></i>
                                </a>
                            </li>
                            <li class="handler-list">
                                <a href="" class="handler-anchor capitalize">
                                    <i class="ri-facebook-fill"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="contact-item">
                      <i class="ri-phone-line"></i>
                      <a href="tel:+917559700666" class="contact-link" target="_blank"> +91 7559700666</a>
                    </li>
        
                    <li class="contact-item">
                      <i class="ri-mail-line"></i>
                      <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=himalayantribetravels@gmail.com" class="contact-link" target="_blank"> himalayantribetravels@gmail.com</a>
                    </li>
        
                    <li class="contact-item">
                    <i class="ri-map-pin-2-line"></i>
                      <address class="upperCase"> HIMALAYAN TRIBE, WARD NO. 15, SHAMTI SOLAN HIMACHal pradesh 173212</address>
                    </li>
        
                </ul>
            </div>

            <div class="footer-shape">

                <img src="{% static 'website/images/shapes/feets1.png' %}" alt="" class="feetImg">
                
            </div>
            
            <div class="quick-links">
                <h2 class="contact-text capitalize">
                    quick links
                </h2>
                <ul class="quick-ul">
                    <li id="privacy-policy" class="quick-list capitalize">
                        privacy policy
                    </li>
                    <li id="cancellation-policy" class="quick-list capitalize">
                        cancellation policy
                    </li>
                    <li id="terms-and-cond" class="quick-list capitalize">
                        terms & conditions
                    </li>
                    <li id="disclaimer-policy" class="quick-list capitalize">
                        disclaimer
                    </li>
                    <li id="about-us" class="quick-list capitalize">
                        about us
                    </li>
                </ul>
            </div>
        </div>


        <div class="footer-lower">
            <p class="copyright">
                &copy; 2022 <a href="">HimalayanTribe</a>.&nbsp; All rights reserved
            </p>
        </div>

    </footer>
<!-- PopUp Div -->
    <!-- privacy policy popup box  -->
    <div id="pp-popup" class="footer-pop-div">
        
        <p id="pp-content" class="popup-content">
            <span class="capitalize">
                privacy policy
                <button class="popup-close-btn">
                    <i class="ri-close-line"></i>
                </button>
            </span>
            The terms “We” / “Us” / “Our”/”Company” individually and collectively refer to HIMALAYAN TRIBE and the terms “You” /”Your” / “Yourself” refer to the users.<br>

This Privacy Policy is an electronic record in the form of an electronic contract formed under Informationation Technology Act, 2000 and the rules made thereunder and the amended provisions pertaining to electronic documents/records in various statutes as amended by the Information Technology Act, 2000. This Privacy Policy does not require any physical, electronic or digital signature.<br>

This Privacy Policy is a legally binding document between you and HIMALAYAN TRIBE (both terms defined below). The terms of this Privacy Policy will be effective upon your acceptance of the same (directly or indirectly in electronic form, by clicking on the I accept tab or by use of the website or by other means) and will govern the relationship between you and HIMALAYAN TRIBE for your use of the website “www.himalayantribe.co” (defined below).<br>

This document is published and shall be construed in accordance with the provisions of the Information Technology (reasonable security practices and procedures and sensitive personal data or information) rules, 2011 under Information Technology Act, 2000; that require publishing of the Privacy Policy for collection, use, storage and transfer of sensitive personal data or information.<br>

Please read this Privacy Policy carefully by using the Website, you indicate that you understand, agree and consent to this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use this Website.<br>

By providing us your Information or by making use of the facilities provided by the Website, You hereby consent to the collection, storage, processing and transfer of any or all of Your Personal Information and Non-Personal Information by us as specified under this Privacy Policy. You further agree that such collection, use, storage and transfer of Your Information shall not cause any loss or wrongful gain to you or any other person.<br><br>
USER INFORMATION<br>
To avail certain services on our Websites, users are required to provide certain information for the registration process namely: – a) your name, b) email address, c) sex, d) age, e) PIN code, f) credit card or debit card details g) medical records and history h) sexual orientation, i) biometric information, j) password etc., and / or your occupation, interests, and the like. The Information as supplied by the users enables us to improve our sites and provide you the most user-friendly experience.<br>

All required information is service dependent and we may use the above-said user information to, maintain, protect, and improve its services (including advertising services) and for developing new services<br>

Such information will not be considered as sensitive if it is freely available and accessible in the public domain or is furnished under the Right to Information Act, 2005 or any other law for the time being in force.<br><br>
COOKIES<br>
To improve the responsiveness of the sites for our users, we may use “cookies”, or similar electronic tools to collect information to assign each visitor a unique, random number as a User Identification (User ID) to understand the user’s individual interests using the Identified Computer. Unless you voluntarily identify yourself (through registration, for example), we will have no way of knowing who you are, even if we assign a cookie to your computer. The only personal information a cookie can contain is information you supply (an example of this is when you ask for our Personalised Horoscope). A cookie cannot read data off your hard drive. Our advertisers may also assign their own cookies to your browser (if you click on their ads), a process that we do not control.<br>

Our web servers automatically collect limited information about your computer’s connection to the Internet, including your IP address, when you visit our site. (Your IP address is a number that lets computers attached to the Internet know where to send you data — such as the web pages you view.) Your IP address does not identify you personally. We use this information to deliver our web pages to you upon request, to tailor our site to the interests of our users, to measure traffic within our site and let advertisers know the geographic locations from where our visitors come.<br><br>
LINKS TO THE OTHER SITES<br>
Our policy discloses the privacy practices for our own web site only. Our site provides links to other websites also that are beyond our control. We shall in no way be responsible in a way for your use of such sites.<br><br>
INFORMATION SHARING<br>
We share the sensitive personal information to any third party without obtaining the prior consent of the user in the following limited circumstances:<br>

(a) When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including cyber incidents, or for prosecution and punishment of offenses. These disclosures are made in good faith and belief that such disclosure is reasonably necessary for enforcing these Terms; for complying with the applicable laws and regulations.<br>

(b) We propose to share such information within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also ensure that these recipients of such information agree to process such information based on our instructions and in compliance with this Privacy Policy and any other appropriate confidentiality and security measures.<br><br>
INFORMATION SECURITY<br>
We take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. These include internal reviews of our data collection, storage and processing practices and security measures, including appropriate encryption and physical security measures to guard against unauthorized access to systems where we store personal data.<br>

All information gathered on our Website is securely stored within our controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.<br>

However, the internet is an ever evolving medium. We may change our Privacy Policy from time to time to incorporate necessary future changes. Of course, our use of any information we gather will always be consistent with the policy under which the information was collected, regardless of what the new policy may be.<br>

In accordance with Information Technology Act, 2000, if you wish to contact HIMALAYANTRIBE about this privacy policy or privacy-related issues via email, you may send an email to Himlayantribetravles@gmail.com. Alternatively, you may send your concern via postal mail/courier at the following address:<br>

HIMALAYAN TRIBE, WARD 15, SHAMTI, SOLAN HIMACHAL PRADESH 173212<br>
CONTACT : +91- 7559700666
        </p>
    </div>
    <!-- cancellation -->
    <div id="cp-popup" class="footer-pop-div">
        <p id="cp-content" class="popup-content">
            <span class="capitalize">
                cancellation policy
                <button class="popup-close-btn">
                    <i class="ri-close-line"></i>
                </button>
            </span>
            If any customer is willing to cancel his / her booking due to any reasons like illness, death, accident or non-payment of the balance payment then the Company is liable to recover Cancellation charges from Client as follows:<br>
•	15 % of total amount is charged if cancellations is done 30 days prior to departure of the tour.<br>
•	30 % of total amount is charged if cancellations is done 20 days prior to departure of the tour.<br>
•	50 % of total amount is charged if cancellations is done 10 days prior to departure of the tour.<br>
•	In the case of unforeseen weather conditions or government restrictions, certain activities may be canceled and in such cases, the operator will try his best to provide an alternate feasible activity. However, no refund will be provided for the same.<br>

        </p>
    </div>
    <!-- terms and conditions -->
    <div id="tc-popup" class="footer-pop-div">
        <p id="tc-content" class="popup-content">
            <span class="capitalize">
                terms & conditions
                <button class="popup-close-btn">
                    <i class="ri-close-line"></i>
                </button>
            </span>
            •	The photos/videos content created on HIMALAYAN TRIBE’s trip (by HIMALAYAN TRIBE’s content creators or clients) is the property of HIMALAYAN TRIBE and can only be used by HIMALAYAN TRIBE Experiences for advertising across media platforms. None of the digital content can be used by any one without obtaining the rightful permissions by HIMALAYANTRIBE.<br>
•	Full Payment of the trip cost must be made before the trip begins. Pending Payments may eventually lead to the Cancellation of the trip.<br>
•	The IDs shall all be verified before boarding. No boarding shall be entertained without a valid Govt. ID.<br>
•	The Transfer of the bookings is not permitted. Only the names mentioned at the time of confirmation shall be allowed to travel.<br>
•	No refunds shall be made towards any inclusion(s) not availed by the Client.<br>
•	Travelers must take care of their luggage & belongings. The management shall not be responsible for any damage or any missing items along the tour.<br>
•	The time of Departure is stated & fixed. All travelers must update their status with the Trip coordinator(s), & report at the pickup point 30 mins prior to the scheduled departure.<br>
•	The Air Conditioning will be switched off in the hills. Also, during the trip, it shall be the Driver’s discretion to put off the AC as & when required, considering the travelers’ safety & ease of travel along uneven & dangerous routes.<br>
•	Our time of departure is fixed must depart by the stated time & keep their status updated with the trip coordinator(s). Anyone missing the bus shall not be eligible for any refunds. We shall call you twice before the schedule departure.<br>
•	Drinking & Smoking are strictly prohibited along the tour due to health & safety concerns. Our tours involve physically demanding activities such as trekking, camping at high altitudes and we recommend for you to be in the right shape to make most of them.<br>
•	No act of misconduct or indiscipline shall be tolerated on the tours. We are a cordial travel community and we aspire to bring to you a hassle free and memorable experience.<br>
•	HIMALAYANTRIBE shall not be responsible for any delays or alterations in the program or indirectly incurred expenses in cases such as Natural Hazards, accident, breakdown of machinery, weather conditions, landslides, political closure or any untoward incidents.<br>
•	We do not provide any insurance policy to cover for the expenditure on sickness or accidents or losses incurred due to theft or other reasons.<br>
•	Numerous factors such as weather and road conditions the physical ability of participants etc. may bring alteration in the itinerary. We reserve the right to make necessary changes in the schedule in the interest of safety, comfort and general well-being!<br>

        </p>
    </div>
    <!-- desclaimer -->
    <div id="d-popup" class="footer-pop-div">
        <p id="d-content" class="popup-content">
            <span class="capitalize">
                disclaimer
                <button class="popup-close-btn">
                    <i class="ri-close-line"></i>
                </button>
            </span>
            HIMALAYAN TRIBE provides the www.HIMALAYAN TRIBE.CO Web site as a service to the public and Web site owners.<br><br>

HIMALAYAN TRIBE is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. While the information contained within the site is periodically updated, no guarantee is given that the information provided in this Website is correct, complete, and up-to-date.<br><br>

Although the HIMALAYAN TRIBE Website may include links providing direct access to other Internet resources, including Web sites, HIMALAYAN TRIBE is not responsible for the accuracy or content of information contained in these sites.
<br><br>
Links from HIMALAYAN TRIBE.CO to third-party sites do not constitute an endorsement by HIMALAYAN TRIBE of the parties or their products and services. The appearance on the Web site of advertisements and product or service information does not constitute an endorsement by HIMALAYAN TRIBE.<br>

        </p>
    </div>
    <!-- about-us -->
    <div id="a-popup" class="footer-pop-div">
        <p id="a-content" class="popup-content">
            <span class="capitalize">
                about us
                <button class="popup-close-btn">
                    <i class="ri-close-line"></i>
                </button>
            </span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>



     <!-- Go Top -->
     <a href="#top" class="go-top" data-go-top>
        <i class="ri-arrow-up-line"></i>
    </a>

    <!-- Swiper Js -->
    <script src="{% static 'website/js/swiper-bundle.min.js' %}"></script>
    <!-- JS -->
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- JS -->
    <script src="{% static 'website/js/script.js' %}"></script>
    <script src="{% static 'website/js/slider.js' %}"></script>
    <script src="{% static 'website/js/queryData.js' %}"></script>

</body>
</html>