<!-- home page popular cards -->



<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="{% static 'website/images/popularImages/kasol.jpg' %}" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName capitalize">
                dharamashala
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="{% static 'website/images/popularImages/dharamashala.jpg' %}" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName capitalize">
                Manali
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/spitiValley.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName capitalize">
                Spiti
            </div>
        </a>
        
        
            
    </div>
    
</div>









<!-- home page pack_category cards -->

<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/kasol.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName upperCase">
                honeymoon<br> pacakges
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/dharamashala.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName upperCase">
                family<br> packages
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/spitiValley.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName upperCase">
                group<br> pacakges
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/dharamashala.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName upperCase">
                Exotic<br> packages
            </div>
        </a>
        
        
            
    </div>
    
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <div class="image-content popular-image-content">
        <a href="">
            <div class="card-image popular-card-image">
                <!-- Image of the place -->
                <img src="./assests/images/popularImages/spitiValley.jpg" alt="" class="card-img">
            </div>
            <div class="overlay"></div>
            <div class="placeName upperCase">
                MNC<br>pacakges
            </div>
        </a>
        
        
            
    </div>
    
</div>







<!-- home top packs cards -->

<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">Romantic Himachal
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">Shimla manali honeymoon pacakge
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/spitiValley.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">splendid spiti
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>








<!-- Home page gallery section -->



<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo15.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo6.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/mandi.jpg" alt="">      
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo2.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo13.jpeg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo1.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo9.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/spitiValley.jpg" alt="" >
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo5.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo14.jpg" alt="gallery" class="gallery-img">
    </div>
</div>






<!-- Popular destination page images -->


<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo15.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo6.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/mandi.jpg" alt="">      
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo2.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo13.jpeg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo1.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo9.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/spitiValley.jpg" alt="">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo5.jpg" alt="gallery" class="gallery-img">
    </div>
</div>
<div class="gallery-card-container">
    <div class="gallery-image">
        <img src="./assests/images/Tourist/photo14.jpg" alt="gallery" class="gallery-img">
    </div>
</div>








<!-- Popular destinations packages cards -->



<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">
                    Incredible shimla
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">
                    Incredible shimla
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">
                    Incredible shimla
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">
                    Incredible shimla
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>
<div class="card swiper-slide">
    <!-- div to handle the image -->
    <a href="">
        <div class="image-content popular-image-content round-corner">
            <div class="card-image popular-card-image">
                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
            </div>
            <div class="glassmorp-card">
                <h3 class="upperCase glassmorp-heading">
                    Incredible shimla
                </h3>
                <p class="glassmorp-plan capitalize">
                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                </p>
            </div>
        </div>
    </a>
</div>















<!-- Packages page category section -->

    <!-- Exotic Package -->
    <section id="exotic-packages">

        <!-- header -->
        <h1 id="exotic-packagesHeader" class="sectionHeading capitalize">
            <i class="ri-ancient-gate-line"></i>&nbsp;Exotic packages
        </h1>
        
        <!-- Slider -->
        <div id="exotic-packagesSlider" class="slide-container swiper">
            <div class="slide-content">
                <div id="exotic-packagesSliderCardContainer" class="card-wrapper swiper-wrapper">
                    <!-- Cards -->
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">exotic kasol manali
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">exotic kasol manali
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">exotic kasol manali
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">exotic kasol manali
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div> 


        <!-- button for the destination page -->
        <a id="packagesBtn" class="moreinfo capitalize" href="#" target="_blank">view all packages</a>


    </section>

    
<!-- Add hr after each new section you will add  -->
    <hr>

    <!-- Honeymoon Package -->
    <section id="honeymoon-packages">

        <!-- header -->
        <h1 id="honeymoon-packagesHeader" class="sectionHeading capitalize">
            <i class="ri-ancient-gate-line"></i>&nbsp;honeymoon packages
        </h1>
        
        <!-- Slider -->
        <div id="honeymoon-packagesSlider" class="slide-container swiper">
            <div class="slide-content">
                <div id="honeymoon-packagesSliderCardContainer" class="card-wrapper swiper-wrapper">
                    <!-- Cards -->
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">Romantic Himachal
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">Romantic Himachal
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">Romantic Himachal
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <a href="">
                            <div class="image-content popular-image-content round-corner">
                                <div class="card-image popular-card-image">
                                    <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                                </div>
                                <div class="glassmorp-card">
                                    <h3 class="upperCase glassmorp-heading">Romantic Himachal
                                    </h3>
                                    <p class="glassmorp-plan capitalize">
                                        <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div> 


        <!-- button for the destination page -->
        <a id="packagesBtn" class="moreinfo capitalize" href="#" target="_blank">view all packages</a>


    </section>

    <hr>









<!-- package page testimonials -->

    <!-- Testimonials -->
    <section id="testimonials">


        <!-- header -->
        <h1 id="testimonialsHeader" class="sectionHeading capitalize">
            <i class="ri-user-heart-line"></i>&nbsp;What are Client says
        </h1>

        <!-- About -->
        <div id="testimonialsAbout" class="sectionDisc">
            Our Clients send us bunch of smiles with our services and we love them
        </div>


        <!-- Slider -->
        <div id="testimonialsSlider" class="slide-container swiper">
            <div class="slide-content">
                <div id="testimonialsSliderCardContainer" class="card-wrapper swiper-wrapper">
                    <!-- Cards -->
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <div class="image-content">
                            <div class="card-image">
                                <img src="./assests/images/user/user1.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <!-- div to handle the content -->
                        <div class="card-content">
                            <!-- mention the name of the user in the below h3 tag -->
                            <h3 class="name">Janny</h3>
                            
                            <!-- details about the pack keep it in one line -->
                            <p class="description testimonialsDesc">
                                <span>"Best Holiday Ever"</span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <div class="image-content">
                            <div class="card-image">
                                <img src="./assests/images/user/user2.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <!-- div to handle the content -->
                        <div class="card-content">
                            <!-- mention the name of the user in the below h3 tag -->
                            <h3 class="name">David</h3>
                            
                            <!-- details about the pack keep it in one line -->
                            <p class="description testimonialsDesc">
                                <span>"Best Holiday Ever"</span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <!-- div to handle the image -->
                        <div class="image-content">
                            <div class="card-image">
                                <img src="./assests/images/user/user1.jpg" alt="" class="card-img">
                            </div>
                        </div>
                        <!-- div to handle the content -->
                        <div class="card-content">
                            <!-- mention the name of the user in the below h3 tag -->
                            <h3 class="name">Janny</h3>
                            
                            <!-- details about the pack keep it in one line -->
                            <p class="description testimonialsDesc">
                                <span>"Best Holiday Ever"</span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="swiper-button-next swiper-navBtn"></div>
                <div class="swiper-button-prev swiper-navBtn"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div> 

    </section>

    <hr>






<!-- similar packages -->


<!-- SECTION similar PACKAGES -->
<section id="more-packages">


    <!-- header -->
    <h1 id="more-packagesHeader" class="sectionHeading capitalize">
        <i class="ri-ancient-gate-line"></i>&nbsp; similar packages
    </h1>
    <!-- About -->
    <h4 class="upperCase sectionAbout">professionally hand written itineraries by our local tour experts</h4>
    <!-- Slider -->
    <div id="more-packagesSlider" class="slide-container swiper">
        <div class="slide-content">
            <div id="more-packagesSliderCardContainer" class="card-wrapper swiper-wrapper">
                <!-- Cards -->
                <div class="card swiper-slide">
                    <!-- div to handle the image -->
                    <a href="">
                        <div class="image-content popular-image-content round-corner">
                            <div class="card-image popular-card-image">
                                <img src="./assests/images/popularImages/manali.jpg" alt="" class="card-img">
                            </div>
                            <div class="glassmorp-card">
                                <h3 class="upperCase glassmorp-heading">Romantic Himachal
                                </h3>
                                <p class="glassmorp-plan capitalize">
                                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card swiper-slide">
                    <!-- div to handle the image -->
                    <a href="">
                        <div class="image-content popular-image-content round-corner">
                            <div class="card-image popular-card-image">
                                <img src="./assests/images/popularImages/shimlaphoto.jpg" alt="" class="card-img">
                            </div>
                            <div class="glassmorp-card">
                                <h3 class="upperCase glassmorp-heading">Shimla manali honeymoon pacakge
                                </h3>
                                <p class="glassmorp-plan capitalize">
                                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card swiper-slide">
                    <!-- div to handle the image -->
                    <a href="">
                        <div class="image-content popular-image-content round-corner">
                            <div class="card-image popular-card-image">
                                <img src="./assests/images/popularImages/spitiValley.jpg" alt="" class="card-img">
                            </div>
                            <div class="glassmorp-card">
                                <h3 class="upperCase glassmorp-heading">splendid spiti
                                </h3>
                                <p class="glassmorp-plan capitalize">
                                    <i class="ri-time-line"></i>&nbsp; 4 nights-5 days
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div> 


    <!-- button for the destination page -->
    <a id="packagesBtn" class="moreinfo capitalize" href="#" target="_blank">view all packages</a>


</section>

<hr>