@import url("./base.css");

.header{
    background:rgba(0, 0, 0, 0.6) url("../images/Cab/2207_w023_n003_2640b_p1_2640.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerNav{
    position: fixed;
    top: -8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 78px;
    transition: var(--transition);
}
.backgroundColor{
    background:rgba(0, 0, 0, 0.8);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    column-gap: 10px;
  }
  .headerCall{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    color: var;
    color: var(--white);
    font-size: medium;
    transition: var(--transition);
    
  }
  .headerCall:hover{
    animation: tilt-shaking 0.25s ;
  }
  @keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
  
.headerUl{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.headerList>a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    color: var(--white);
    font-weight: var(--fw-400);
    font-size: medium;
    transition: var(--transition);
}
.headerList>a:hover{
    color: var(--blue-ncs-light);
}
#logoImg{
    height: 90px;
    padding-left: calc(var(--inline-padding) * 2);
}
.innerLogo{
    display: none;
}
.hamburger{
    display: none;
}
#hamburgerOpenBtn{
    color: var(--white);
    font-size: calc(var(--fs-8)*2);
}
/* Header-content */

.headerContent{  
    height: 60%;
    width: 60%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var;
    color: var(--white);
}
.headerMotto{
    font-family: var(--ff-montserrat);
    font-size: 4rem;
    font-weight: var(--fw-800);
    text-align: center;
    transition: var(--transition);
}
.headerAbout{
    width: 80%;
    text-align: center;
    word-wrap: break-word;
}

/* Slider */
.place{
    max-width:1120px ;
    width: 100%; 
}
.slide-container{
    padding: 20px 40px 40px;
}

.place-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-800);
    color: var(--oxford-blue);
    text-align: center;
    transition: var(--transition);
    z-index: 1;
    padding-top: 10px;
}

/* rentCab */
.cab-rent-para{
    padding-top: 10px;
    font-size: large;
    color: var(--oxford-blue);
    font-weight: var(--fw-700);
    text-align: center;
}
.cabs-slider-heading{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: x-large;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-800);
    color: var(--oxford-blue);
    text-align: center;
    transition: var(--transition);
    z-index: 1;
}

.glassmorp-card:hover{
    top: 65%;
  }

.glassmorp-heading{
    text-align: center;
}
.cab-facility{
    color: var(--white);
    font-family: var(--ff-poppins);
    padding: 0px 10px;
    text-align: center;
    width: 100%;
    /* font-weight: bold; */
}
.cab-facility li{
    margin: 5px;
}
.cab-inner-facility{
    display: flex;
    justify-content: space-between;
}
.moreinfo{
    width: 60%;
    margin: 0;
    margin-inline: auto;
    opacity: 0.9;
}

/* query form */
.pick-drop-location{
    width: 75%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    margin: 5px 0px 0px 0px;
    font-size: medium;
    color: var(--onyx);
    font-family: var(--ff-poppins);
}
.pick-drop-location > input{
    background: rgba(0, 0, 0, 0.05);
    width: 40%;
    height: 3.5rem;
    padding: 5px;
    text-align: center;
    overflow-x: scroll;
}
.query-form-div > select{
    width: 75%;
    background: rgba(0, 0, 0, 0.05); 
}
.query-form-div select, option{
    text-transform: capitalize;
}

.query-btn-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.query-btn{
    font-size: medium;
    background: var(--bright-navy-blue);
    color: var(--white);
    padding: 6px 14px;
    border-radius: 6px;
    margin: 14px;
    opacity: 0.8;
    transition: var(--transition);
}
.query-btn:hover{
    opacity: 1;
}

.whatsappBtn{
    background: 	#25D366;
}


/* Services Sections */
.services-container{
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
    justify-items: center;
}
.service-card{
    padding: 10px;
    width: 90%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.services-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: x-large;
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-800);
    color: var(--black-coral);
    text-align: center;
    transition: var(--transition);
    z-index: 1;
}
.service-card-para{
    padding-top: 10px;
    color: var(--oxford-blue);
}

/* Media Queries */
@media screen and (max-width:1025px) {
    /* Header */
  .headerNav{
      grid-template-columns: 1fr 0.5fr;
  }
  .logo{
      width: 50%;
      column-gap: 5px;
  }
  .headerUl{
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      top: 7px;
      right: -300px;
      background: var(--gainsboro);
      width: 250px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      transition: var(--transition);
      z-index: 10;
  }
  .headerList>a{
      color: var(--black-coral);
  }
  .hamburger{
      display: block;
      text-align: end;
      padding-right: calc(var(--inline-padding)*2);
  }
  .blocker {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: ' ';
      background: rgba(0,0,0,.5);
  }
  .active{
      right: 0;
  }
  .innerLogo{
      display: flex;
      width: 90%;
      justify-content: space-between;
      align-items: center;
  }
  .innerLogoShape{
    height: 100%;
    width: 90%;
    margin-inline: auto;
    padding-bottom: 5px;

  }
  #innerLogoImg{
      height: 90px;
  }
  #hamburgerCloseBtn{
      text-align: end;
      padding: var;
      font-size: calc(var(--fs-8)*2);
      padding-inline: var(--inline-padding);
  }
  .headerList{
      border-bottom: 1px solid var(--spanish-gray);
      width: 170px;
      padding-inline: var(--inline-padding);
  }
  .headerList>a{
      justify-content: flex-start;
  } 
  /* headerContent */
  .headerMotto{
      font-size: 3.5rem;
  }

  /* Section */
  .sectionHeading{
      font-size: x-large;
      font-family: var(--ff-montserrat);
      font-weight: var(--fw-700);
  }
  .sectionDisc{
      font-size: small;  
  }

}

@media screen and (max-width:970px){
    /* header */
    .headerNav{
        height: 68px;
    }
    /* Logo */
    .logo{
        width: 65%;
        column-gap: 5px;
    }
    /* Logo */
    #logoImg{
        height: 80px;
    }

}

@media screen and (max-width:768px) {
    /* header Content */
  .headerMotto{
    font-size: 2.5rem;
    }
    .logo{
    width: 70%;
    column-gap: 5px;
    }

    /* Slider */
    .slide-content{
    margin: 0 10px;
    }

    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    font-size: x-large;
    padding-left: 10px;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    font-size: x-large;
    padding-right: 10px;
    }

    /* query Form */
    .pick-drop-location{
        width: 100%;
        font-size: small;
        height: 3rem;
    }
    .pick-drop-location >input{
        width: 45%;
        height: 3rem;
    }
    .query-form-div > select{
        width: 65%;
    }

    /* services */
    .services-container{
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    .service-card{
        width: 100%;
    }
    .services-heading{
        font-size: large;
    }
    .service-card-para{
        font-size: small;
    }
 
}

@media screen and (max-width:600px){
    .headerNav{
        column-gap: 0%;
      }
      .logo{
        width: 80%;
        column-gap: 5px;
    }

}

@media screen and (max-width:500px){
    .headerNav{
        column-gap: 25px;
        grid-template-columns: 1fr 0.2fr;
      }
      .logo{
        width: 100%;
        column-gap: 5px;
      }
      /* Hamburger */
      .hamburger{
        padding-right: var(--inline-padding);
      }
      /* Slider */
      .slide-container {
        padding: 10px 20px 40px;
    }



}


@media screen and (max-width:430px) {
    .logo{
        width: 100%;
        column-gap: 0px;
      }
    /* header Content */
    .headerMotto{
        font-size: 2rem;
    }
    .headerNav{
        height: 60px;
        column-gap: 25px;
        grid-template-columns: 1fr 0.2fr;
    }
    #logoImg{
      height: 70px;
    }
    /* slider */
    .slide-container{
      width: 100%;
      padding: 40px 20px;
    }
    /* Section */
    section{
        padding: 50px 10px;
    }
 
  }
  @media screen and (max-width:375px) {
      /* header Content */
      .headerMotto{
          font-size: 1.5rem;
      }
      #logoImg{
        padding-left: 0px;
      }
  }
